body {
  background-image: linear-gradient(to right, #92fe9d 0%, #00c9ff 100%);
}

/*.header {
  border-bottom: 1px solid black;
}*/

.buttonHead {
	width: 125px;
}

.userPic {
	width: 300px;
	height: 300px;
}

.profilePic {
	width: 150px;
	height: 150px;
}